
.contacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
        justify-content: center;
        gap: 20px;
        box-sizing: border-box;
        transform: translateY(-150%);
        transition: all 0.3s ease 0s;
        z-index: 99;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        top: 0;
        left: 0;

        h4 {
            color: black;
        }
    }


    @media screen and (max-width: 380px) {
        height: 100vw;
    }
}

.socials_checked {
    transition: all 0.3s ease 0s;
    transform: translateY(310%);
    @media screen and (max-width: 380px) {
        height: 100px;
        transform: translateY(500%);
    }
}
