

.navbar {
    width: 520px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1200px) {
        transform: translateY(-150%);
        transition: all 0.3s ease 0s;
        z-index: 90;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 50vh;
        top: 0;
        left: 0;
        gap: 15px;
        background: white;
        a {
            color: black;
            font-size: 20px;
        }
    }

    @media screen and (max-width: 576px) {
        height: 50vh;
    }

    @media screen and (max-width: 380px) {
        height: 100vh;
    }
}

.nav_checked {
    transition: all 0.3s ease 0s;
    transform: translateY(0%);
}